@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    background-color: #E3E6E6;
}
:root{
    --primaryColor: #ffffff;
}
.flex{
    display: flex;
}
.flexWrap{
    flex-wrap: wrap;
}
 header{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
 }
 .w-100{
    width: 100%;
 }
 .h-100{
    height: 100%;
 }
 .wh-100{
    width: 100%;
    height: 100%;
 }
 .w-50{
    width: 50%;
 }
 .m-25{
    margin-top: 25px;
 }
 .bg-fff{
    background-color: #fff;
 }
.nav {
    height: auto;
}

.dropdown-i {
    border: 4px solid transparent;
    border-top: 4px solid #6c6f72;
    border-bottom-width: 0;
}

.nav-upper-div {
    background-color: #131921;
}
.upper-nav{
    padding: 5px;
    align-items: center;
    height: fit-content;
}

.logo {
    margin-left: 8px;
}

.logo-image a {
    align-items: center;
    padding-right: 8px;
}

.logo-image a img {
    width: 97px;
    filter: invert(1);
    margin-top: 8px;
}

.logo-image a span {
    color: var(--primaryColor);
    font-size: 13.5px;
    font-weight: 600;
    margin: 4px 0px 0px 2px;
}

.bdr-hvr:hover {
    border-radius: 2px;
    border: 1px solid var(--primaryColor);
}

.hght-pad {
    padding: 4px;
    height: 50px;
}

.location a {
    align-items: center;
}

.location-icon img {
    width: 20px;
    margin-top: 8px;
    filter: invert();
}

.address {
    line-height: 13.777px;
}

.address :first-child {
    font-size: 13px;
    color: #ccc;
    display: block;
}

.address :last-child {
    font-size: 15.777px;
    color: var(--primaryColor);
    font-weight: 600;
}

.search-bar {
    flex: 0.97;
    padding: 5px 10px;
    margin-inline: 10px;
}

.search-bar form {
    align-items: center;
    gap: 5px;
    background-color: var(--primaryColor);
    border-radius: 4px;
}

.search-dropdown {
    align-items: center;
    max-width: 50px;
    background-color: #e6e6e6;
    border-right: .5px solid #e1d2d2;
    border-radius: 5px 0px 0px 5px;
}

.search-dropdown :first-child {
    align-items: center;
}

.search-dropdown span {
    font-size: 13px;
    color: #555;
    margin: 0px 10px 0px 10px;
}

.search-dropdown i {
    margin-right: 10px;
}

.search-dropdown .select-dropdown {
    position: absolute;
    width: 50px;
}

.search-dropdown #dropdown {
    opacity: 0;
    cursor: pointer;
}

.search-dropdown:hover {
    background-color: #d4d4d4;
}

.search-input input {
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    color: #111;
    font-weight: 500;
    outline: 0;
}

.search-btn {
    display: flex;
    border-radius: 4px;
}

.search-btn button {
    padding: 5px;
    background-color: #febd69;
    border: none;
    width: 45px;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

.search-btn img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.search-btn button:hover {
    background-color: #f3a847;
}

.search-form-outline {
    outline: 3.5px solid orange;
}

.nav-right {
    gap: 5px;
}

.flag {
    width: 20px;
    margin-top: 5px;
}

.country {
    padding: 8px;
}

.country a {
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 100%;
}

.country a .language {
    color: var(--primaryColor);
    font-weight: 500;
}

.country a i {
    margin-top: 6px;
    border-top: 4px solid #a7acb2;
}

.accounts,
.returns-orders {
    padding: 4px;
}

.accounts,
.returns-orders a {
    align-items: center;
}

.accounts,
.returns-orders a .sign-span,
.rtrn-ordr-div {
    display: flex;
    flex-direction: column;
    line-height: 13px;
}

.sign-span,
.rtrn-ordr-div :first-child {
    font-size: 13px;
    color: var(--primaryColor);
}

.sign-span :last-child {
    gap: 5px;
}

.accounts a .sign-span :last-child span {
    font-size: 15.6px;
    font-weight: 600;
    color: #fff;
}

.accounts a .sign-span :last-child i {
    border: 4px solid transparent;
    border-top: 4px solid #a7acb2;
    border-bottom-width: 0;
    margin-top: 8px;
}
.rtrn-ordr-div :last-child{
    font-size: 15px;
    font-weight: 700;
}
.cart-img a div{
    align-items: baseline;
}
.cart-img a div p {
    position: relative;
    font-size: 16px;
    top: -24px;
    left: 26px;
    color: orange;
    font-weight: 700;
}

.cart-img a div img {
    width: 38px;
    filter: invert();
}

.cart-img a div span {
    color: var(--primaryColor);
    font-size: 15px;
    font-weight: 700;
    position: relative;
    bottom: 8px;
    left: -5px;
}

.nav-lower-div{
    background-color: #232f3e;
    height: 40px;
    width: 100%;
}
.nav-lower-containt{
    padding-left: 10px;
    align-items: center;
    gap: 6px;
}
.all-lwr-menu{
    padding: 6px;
    align-items: center;
}
.toggle-icon-all{
    align-items: center;
    gap: 6px;
}
.toggle-icon-all img{
    width: 17px;
    filter: invert();
}
.toggle-icon-all span{
    color: var(--primaryColor);
    font-size: 15px;
    font-weight: 700;
}
.nav-shop-nav-rght{
    justify-content: space-between;
    align-items: center;
}
.nav-shop-container div ul{
    align-items: center;
}
.nav-shop-container div ul li{
    padding-inline: 8px;
}
.nav-shop-container div ul li a{
    align-items: center;
    color: var(--primaryColor);
    font-size: 15px;
    font-weight: 500;
}
.nav-shop-container div ul li a i{
    margin: 6px 0px 0px 6px;
    border-top: 4px solid #a7acb2;
}
#mainContent{
    height: 100vw;
    background-color: #E3E6E6;
    position: absolute;
    top: 12.55%;
    box-sizing: border-box;
}
.heroImg img{
    padding-inline: 10px;
}
#pageContent{
    position: absolute;
    top: 50px;
    box-sizing: border-box;
}
.pageContentWrapper{
    padding-inline: 15px;
}
.slider{
    justify-content: space-between;
}
.arrow{
    min-width: 80px;
    min-height: 250px;
    justify-content: center;
    align-items: center;
}
.arrow div a{
    display: inline-block;
}
.arrow div a img{
    width: 34px;
    display: inline-block;
}
.content{
    padding: 0px 15px;
    flex-direction: column;
    margin-bottom: 20px;
}
.cards-layout{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 20px 20px;
    /* flex-wrap: wrap; */
}
.cards{
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--primaryColor);
    padding: 20px;
}
.fashionCard,
.Most-LovedProducts{
    background-color: var(--primaryColor);
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.cards div h2,
.fashionCard div h2,
.Most-LovedProducts div h2{
    font-size: 21px;
    color: #0f1111;
}
.card-img{
    height: 275px;
    display: grid;
    justify-content: center;
    grid-template-columns: 48% 48%;
    gap: 18px;
}
.card-img div a{
    flex-direction: column;
}
.card-img div a span{
    font-size: 13px;
    color: #0f1111;
}
.cardFooter a{
     width: 100%;
     display: inline-block;
     font-size: 14px;
     color: #007185;
}
.links:hover{
    color: #c7511f;
}
.carBike{
    background-color: var(--primaryColor);
    margin-top: 25px;
}
.bg-fff>div{
    padding: 20px;
}
.productHeading{
    font-size: 21px;
    align-items: center;
    gap: 18px;
}
.productHeading span{
    font-size: 15px;
}
.accessories{
    overflow-x: auto;
}
.accessories div ul{
    gap: 10px;
}
.w-50 a{
    display: inline-block;
}
.flexWrap :last-child img{
    width: 100%;
}
.flexWrap div{
    justify-content: center;
    gap: 15px;
}
.ads div{
    display: flex;
    justify-content: center;
}
/* @media (max-width: 768px) {
    .search-bar {
        width: 100%;
        order: 2;
        margin: 10px 0;
    }

    .nav-right {
        order: 3;
    }

    .logo,
    .location {
        order: 1;
    }

    .nav-upper-div {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .nav-upper-div {
        flex-direction: column;
        align-items: center;
    }

    .search-bar {
        order: 1;
        margin: 10px 0;
    }

    .nav-right {
        order: 3;
    }

    .logo,
    .location {
        order: 2;
    }
} */
