@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100vw;
}

.nav{
    width: 100%;
    height: auto;
   
}
.dropdown-i{
    border: 4px solid transparent;
    border-top: 4px solid #6c6f72;
    border-bottom-width: 0;
    /* margin-top: 6px; */
}
.nav-upper-div{
    background-color: #131921;
    padding: 5px;
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 8px;
}
.logo-image a{
    display: flex;
    align-items: center;
    padding-right: 8px;
}
.logo-image a img{
    width: 97px;
    filter: invert(1);
    margin-top: 8px;
}
.logo-image a span{
    color: #fff;
    font-size: 13.5px;
    font-weight: 600;
    margin: 4px 0px 0px 2px;
}
.bdr-hvr:hover{
    border-radius: 2px;
    border: 1px solid #fff;
}
.logo,
.location,
.search-baar,
.accounts-list{
    padding: 4px;
    height: 50px;
}
.logo-image,
.location a{
    height: 100%;
}
.location a{
    display: flex;
    align-items: center;
}
.location-icon img{
    width: 20px;
    margin-top: 8px;
    filter: invert();
}
.address{
    line-height: 13.777px;
}
.address :first-child{
    font-size: 13px;
    color: #ccc;
    display: block;
}
.address :last-child{
    font-size: 15.777px;
    color: #fff;
    font-weight: 600;
}
.search-baar{
    width: 51vw;
    padding: 5px 10px;
    margin-inline: 10px;
    position: absolute;
    left: 21rem;
}
.search-baar form{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    background-color: #fff;
    /* padding: 5px; */
    border-radius: 4px;
}
.search-dropdown{
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 50px;
    background-color: #e6e6e6;
    border-right: .5px solid #e1d2d2;
    border-radius: 5px 0px 0px 5px;
}
.search-dropdown :first-child{
    height: 100%;
    display: flex;
    align-items: center;
}
.search-dropdown span{
    font-size: 13px;
    color: #555;
    margin: 0px 10px 0px 10px;
}
.search-dropdown i{
    margin-right: 10px;
}
.search-dropdown .select-dropdown{
    position: absolute;
    width: 50px;
}
.search-dropdown #dropdown{
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.search-dropdown:hover{
    background-color: #d4d4d4;
}
.search-input{
    width: 100%;
    height: 100%;
}
.search-input input{
    height: 100%;
    width: 100%;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    color: #111;
    font-weight: 500;
    outline: 0;
}
.search-btn{
    display: flex;
    height: 100%;
    border-radius: 4px;
}
.search-btn input{
    padding: 5px;
    background-color: #febd69;
    border: none;
    width: 45px;
    height: 100%;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}
.search-btn img{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 19px;
    top: 14px;
    cursor: pointer;
}
.search-btn input:hover{
    background-color: #f3a847;
}
.search-form-outline{
    outline: 3.5px solid orange;
}
.nav-rght{
    position: absolute;
    right: 11.8%;
    display: flex;
    gap: 5px;
}
.flag{
    width: 20px;
    margin-top: 5px;
}
.country{
    padding: 8px;
}
.country a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 100%;
}
.country a .language{
    color: #fff;
    font-weight: 500;
}
.country a i{
    margin-top: 6px;
    border-top: 4px solid #a7acb2;
}
.accounts{
    padding: 4px;
    height: 100%;
    display: flex;
}
.accounts a{
    display: flex;
    align-items: center;
}
.accounts a .sign-span{
    display: flex;
    flex-direction: column;
    line-height: 13px;
}
.accounts a .sign-span :first-child{
    font-size: 12px;
    color: #fff;
}
.accounts a .sign-span :last-child{
    display: flex;
    gap: 5px;
}
.accounts a .sign-span :last-child span{
    font-size: 15.6px;
    font-weight: 600;
    color: #fff;
}
.accounts a .sign-span :last-child i{
    border: 4px solid transparent;
    border-top: 4px solid #a7acb2;
    border-bottom-width: 0;
    margin-top: 8px;
}