@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    list-style: none;
    text-decoration: none;
}

.nav{
    width: 100%;
    height: auto;
   
}
.nav-upper-div{
    background-color: #131921;
    padding: 5px;
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 8px;
}
.logo-image a{
    display: flex;
    align-items: center;
    padding-right: 8px;
}
.logo-image a img{
    width: 97px;
    filter: invert(1);
    margin-top: 8px;
}
.logo-image a span{
    color: #fff;
    font-size: 13.5px;
    font-weight: 600;
    margin: 4px 0px 0px 2px;
}
.bdr-hvr:hover{
    border-radius: 2px;
    border: 1px solid #fff;
}
.logo,
.location{
    padding: 4px;
    height: 50px;
}
.logo-image,
.location a{
    height: 100%;
}
.location a{
    display: flex;
    align-items: center;
}
.location-icon img{
    width: 20px;
    margin-top: 8px;
    filter: invert();
}
.address{
    line-height: 13.777px;
}
.address :first-child{
    font-size: 13px;
    color: #ccc;
    display: block;
}
.address :last-child{
    font-size: 15.777px;
    color: #fff;
    font-weight: 600;
}