/* Default styles and global settings */

@media only screen and (max-width: 600px) {
    /* Small devices (phones) */
    body {
        font-size: 50%; /* Adjust as needed */
    }

    .nav {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .logo_name {
        margin-bottom: 10px;
    }

    .logo {
        margin-right: 0;
    }

    .social_links {
        position: absolute;
        bottom: 20px;
        width: 100%;
        height: 40%;
        width: 30%;
    }

    .small_info {
        position: static;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
    }

    .myname,
    .info,
    .about {
        width: 100%;
        left: 0;
    }

    .heading_primary {
        font-size: 4rem; /* Adjust as needed */
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Medium devices (tablets) */
    .nav {
        margin: 10px 20px;
    }

    .logo {
        width: 60px; /* Adjust as needed */
        height: 60px; /* Adjust as needed */
    }

    .social_links {
        top: 20%;
        width: 50px; /* Adjust as needed */
        height: auto;
    }

    .small_info {
        left: 10%;
        top: 100px; /* Adjust as needed */
    }

    .myname,
    .info {
        width: 60%;
        margin: 10px 0 0 40px; /* Adjust as needed */
    }

    .about {
        width: 80%;
        left: 10%;
        height: auto;
    }

    .next {
        width: 100%;
        height: 150px; /* Adjust as needed */
    }
}

@media only screen and (min-width: 1025px) {
    /* Large devices (desktops) */
    .nav {
        margin: 10px 50px;
    }

    .logo {
        width: 80px; /* Adjust as needed */
        height: 80px; /* Adjust as needed */
    }

    .social_links {
        top: 25%;
        width: 70px; /* Adjust as needed */
    }

    .small_info {
        left: 14%;
        top: 180px;
        width: 900px; /* Adjust as needed */
    }

    .myname,
    .info {
        width: 70%;
        margin: 10px 0 0 60px; /* Adjust as needed */
    }

    .about {
        width: 900px; /* Adjust as needed */
        left: 20%;
        height: 500px; /* Adjust as needed */
    }

    .next {
        width: 80%;
        height: 200px;
    }
} 