
@media (min-width: 769px) and (max-width: 992px) { 
       .heading-primary{
        font-size: 2.3rem ;
       }
       .text{
        font-size:1.3rem ;
       }
  }
  
@media  screen and (min-width:640px) and (max-width:768px) {
    .nav{
        height: 75px;
    }
    .logo-name,.nav-menu{
        height: 70px;
    }
    .logo{
        width: 55px;
        height: 55px;
    }
    .name{
        font-size: 0.92rem;
    }
    .nav-menu ul li a{
        font-size: 0.85rem;
    }
    .header-links{
        margin-inline: 5px;
    }
    #social-link-section{
        width: 3.4rem; 
    }
    #info-section {
        width: calc(100% - 3.8rem);
    }   
    #info-section .small-info .myname .heading-primary{
       font-size: 2rem;
    }
    .info{
        width: 100%;
        margin-top: 20px;
    }
    .info .text{
        padding-inline: 12px;
        font-size: 1.2rem;
    }
    h3{
        font-size: 1.7rem;
    }
    .box2{
        flex-direction: column;
    }
    .main-about{
        width: 100%;
        margin: 20px auto;
    }
    .main-about p{
        font-size: 0.96rem;
    }
    .short-info{
        font-size: 0.99rem; 
        padding-inline: 20px;
    }
    .inner-box{
        width: 90%;
    }
}
@media screen and (min-width:321px) and (max-width:640px) {
    .nav-menu{
        display: none;
    }
    .nav{
        height: 75px;
        justify-content: flex-start;
    }
    .logo-name{
        justify-content: flex-start;
        margin-left: 5px;
        width: 12em;
    }
    .logo-name span{
        font-size: 0.9rem;
    }
    #social-link-section{
        display: none;
    }
    #info-section{
        width: 100%;
    }
    .small-info .myname h1{
         font-size: 2rem;
         letter-spacing: 2px;
    }
    .info{
        width: 100%;
        padding-inline: 10px;
        margin-top: 20px;
    }
    .small-info .info .text{
        font-size: 0.98rem;
    }
    .about-container{
        padding: 4.7rem 0 0 0;
    }
    .box1{
        width: 100%;
        margin: 0;
        padding-inline: 10px;
    }
    .box1 h2{
        font-size: 1.7rem;
    }
    .spn{
        width: 30px;
    }
    .short-info{
        width: 100%;
        font-size: 0.8rem ;
        font-weight: 700;
        padding-inline: 24px;
        height: auto;
    }
    .box2{
        width: 100%;
        flex-direction: column;
        height: auto;
        
    }
    .main-about{
        width: 100%;
        height: auto;
        margin: 0;
        padding-inline: 15px;
    }
    .main-about h3{
        font-size: 1.2rem;
    }
    #p1{
        margin-top: 15px;
    }
    .main-about .para{
        width: 100%;
        margin-top: 10px;
        font-size: 0.9rem;
        font-weight: 400;
    }
    .skills{
        width: 100%;
        justify-content: start;
        align-content: baseline;
        gap: 10px;
        font-size: 0.8rem;
        margin-top: 15px;
    }
    .my-skills{
        margin-top: 30px;
    }
    .skills div{
        height: 43px;
    }
    .inner-box{
        width: 90%;
    }
    .contact-info div label{
        font-size: 0.9rem;
    }
    .contact-info div input{
        font-size: 0.8rem;
    }
    .contact-info div input[type="submit"]{
        width: 100%;
    }
}

@media screen and (max-width:320px) {
    .nav-menu{
        display: none;
    }
    .nav{
        height: 75px;
        justify-content: flex-start;
    }
    .logo-name{
        justify-content: flex-start;
        margin-left: 5px;
        width: 12em;
    }
    .logo-name span{
        font-size: 0.9rem;
    }
    .logo{
        width: 3.3em;
        height: 3.3em;
        margin-right: 5px;
    }
    #social-link-section{
        display: none;
    }
    #info-section{
        width: 100%;
    }
    .small-info .myname h1{
         font-size: 1.5rem;
         letter-spacing: 1px;
    }
    .info{
        width: 100%;
        padding-inline: 10px;
        margin-top: 20px;
    }
    .small-info .info .text{
        font-size: 0.98rem;
        width: 100%;
    }
    .about-container{
        padding: 4.7rem 0 0 0;
    }
    .box1{
        width: 100%;
        margin: 0;
        padding-inline: 10px;
    }
    .box1 h2{
        font-size: 1.4rem;
    }
    .spn{
        width: 30px;
    }
    .short-info{
        width: 100%;
        font-size: 0.75rem ;
        font-weight: 600;
        padding-inline: 10px;
        margin-top: 10px;
        height: auto;
    }
    .box2{
        width: 100%;
        flex-direction: column;
        height: auto;
        column-gap: 10px;
    }
    .main-about{
        width: 100%;
        margin: 0;
        padding-inline: 15px;
    }
    .main-about h3{
        font-size: 1.2rem;
    }
    #p1{
        margin-top: 10px;
    }
    .main-about .para{
        width: 100%;
        margin-top: 10px;
        font-size: 0.8rem;
        font-weight: 400;
    }
    .my-skills{
        margin-top: 30px;
    }
    .skills{
        width: 100%;
        justify-content: start;
        align-content: baseline;
        gap: 10px;
        font-size: 0.8rem;
    }
    .skills div{
        height: 44px;
    }
    .inner-box{
        width: 90%;
    }
    .contact-info div label{
        font-size: 0.9rem;
    }
    .contact-info div input ,.contact-info div textarea{
        font-size: 0.8rem;
    }
    .contact-info div input[type="submit"]{
        width: 100%;
    }
}