/* Default styles and global settings */

@media only screen and (max-width: 600px) {
    /* Small devices (phones) */
    body {
        font-size: 50%; /* Adjust as needed */
    }

    /* .nav {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    } */
    .container{
        width: 100%;
    }
    .nav_main-content{
        display: none;
    }
    #social-link_section{
        display: none;
    }
    #info-section{
        width: 100%;
    }
    .heading_primary{
        font-size: 3.1rem;
    }
    .text{
        font-size: 1rem;
    }


}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Medium devices (tablets) */

}

@media only screen and (min-width: 1025px) {
    /* Large devices (desktops) */
} 