body{
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
.container{
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 335%;
    background-image: url(./Img/Tribute_background.jpg);
    background-repeat: no-repeat;

}
.name{
    font-size: 3.8rem;
    text-align: center;
    width: 770px;
    height: 72px;
    margin-left: 400px;
    border: 2px solid white;
    border-radius: 25px;
    background-color: rgb(245, 238, 238);
    text-shadow: 5px 5px 10px rgb(54, 47, 47);
    z-index: 1;
}
.image{
    position: relative;
    left: 37%;
    width: 380px;
    height: 422px;
    margin-top: 3px;
    background-image: url(./Img/apj\ kalam.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.short_info{
    width: 800px;
    height: 120px;
    margin: 3px 0px 0px 372px;
    display: flex;
    justify-content: center;
}
.para{
    box-sizing: border-box;
    width: 360px; 
    height: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: #c13ac1;
    color:#fff;
    text-align: center;
}
.about{
    position: sticky;
    top: 1px;
    width: 80%;
    height: 800px;
    margin-left: 150px;
    border: 5px solid rgb(230, 99, 99);
    box-shadow: 20px 20px 20px #FB989D;
        
}
.title_about{
    text-align: center;
    color: #fefefe;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 40px;
    z-index: -1;
}
.info{
  
    width: 92%;
    height: 78%;
    margin-left: 46px;
}
.ScrollStyle
{
    max-height: 700px;
    overflow-y: auto;
}

